@media (max-width: 640px){

        .home-page img{
                display: none;
        }

        .main-menu{
                display: none;
        }
}
/* @media only screen and (max-width: 640px){
        body{
                max-width: 100%;
                overflow-x: hidden;
                width: 100%;
                -webkit-box-sizing: border-box;
                  -moz-box-sizing: border-box;
                   box-sizing: border-box;

        }
} */
@media only screen and (max-width: 639px){
       
        .inner-card{
                display: flex !important;
                flex-wrap: wrap !important;
        }
        .card{
                justify-items: center !important;
        }
        .font-heading h1{
                font-family: 'Baloo Tammudu 2', cursive;
                text-align: center;
                font-size: 32px;
        }
        .navbar{
                padding: 9px !important;
        }
}

@media only screen and (max-width: 767px){
        .services-icons{
                padding-left: calc(100vw/3 - 90px) !important;
        }
}

@media only screen and (max-width: 1023px){
        .service-btn{
                display: flex;
                justify-content: center;
        }

        .home-page .home-content{
                display: flex !important;
                justify-content: center !important;
                text-align: center !important;
        }
}
/* *{
        margin: 0;
        padding: 0;
} */
html{
        scroll-behavior: smooth;
        --top-spacing: 80px;
        scroll-padding-top: var(--top-spacing);
}
body{
        font-family:sans-serif ;
        margin-bottom: var(--top-spacing) auto;
        /* overflow-x: hidden !important; */
      
}
.navbar{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 5px;
        font-family: 'Baloo Tammudu 2';
        background-color: white !important;
  
}

.navbar a:active{
        color: red;
}
/* .service-btn{
        outline: none;
} */

.home-picture{
        width:600px;
        height:615px;
}

/* Font Family  */
.font-heading h1{
        font-family: 'Baloo Tammudu 2';
}
/* .btn{
        font-family: 'Baloo Tammudu 2' !important;
} */

.inner-card{
        width: 180px;
        height: 180px;
        border-radius: 50%;
        justify-content: space-evenly;
}
.btn-btn{
        outline: none !important;
        font-family: 'Baloo Tammudu 2' !important;
}


/* #rooster{
        font-size: 1rem;
} */
.rooster-search{
        padding: 0.6rem 1rem;
        flex: 1;
        display: none;
}
.rooster-job {
        padding: 1.4rem 0rem;
}
.rooster-job:not(:last-child){
        border-bottom: 1px solid red;
}
.rooster-job a{
        color: rgb(10,10,10);
        text-decoration: none;
}
.rooster-job h3{
        color: #f32d2d;
        padding: 0;
        margin: 0 0 0.4rem 0;
        font-size: 1.8rem;
        font-weight: 600;
        font-family: sans-serif;
        text-decoration: none;
}
.rooster-job h4{
        padding: 0;
        margin: 0;
        display: block;
        font-size: 0.9rem;
        font-weight: 600;
}
.rooster-department-header{
        font-size: 1.4rem;
        margin: 0px;
        padding: 2rem 0rem 0rem;
        color: red;
}
.rooster-department-header h3{
        display: none;
        margin-bottom: 0px;
        font-weight: 700;
}
.rooster-job .data-row{
        padding: 0rem 0rem 0.4rem 0rem;
        font-size: 1rem;
        flex-direction: row;
}
.rooster-job .chips .chip{
        font-size: .950rem;
        margin: 4px;
        padding: 2px 8px;
        background-color: #ededed;
        color: #666666;
        text-align: center;
        border-radius: 12px;
}
.rooster-job .inline-value{
        padding-right: 0.6rem;
        margin-right: 0.6rem;
        color: rgba(10,10,10,1);
}
.rooster-job .inline-value:not(:last-child){
        border-right: 1px solid rgba(10,10,10,0.1);
}

.logo-footer{
        width: 150px !important;
        margin-left: -20px;
      }
      